*.pyc
db.sqlite3
venv/
node_modules/
.idea/
uploaded_media/
*/migrations/*.py
/*/migrations/*.py
*/migrations/
/*/migrations/
**/migrations/**
!**/migrations
!**/migrations/__init__.py
**/**/migrations