{% extends "base.html" %}
{% block title %} Login {% endblock title %}
{% block content %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">You've successfully signed in to Jumia HELP CENTER!</h4>
        <p>Thank you for becoming a member please do not hesitate to contact us. .</p>
        <hr>
        <p class="mb-0">Remember, always try to restart your computer first <span
                style='font-size:25px;'>&#128514;</span>.</p>
    </div>
{% endblock content %}